body{
  margin: 0;
  padding: 0;
}

header{
  box-sizing: border-box;
  width: 100%;
  border-bottom: 2px solid #66c2ff;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 35px;
  padding-right: 35px;
}

h1{
  font-size: 50px;
  line-height: 1.3;
}

.box-container{
  display: flex;
  
}

.card-body{
  padding: 10px;
}

/* physical exam box*/
.col-md-1{
  border: 1px solid #66c2ff;
  height: 260px;
  width: 235px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.col-md-2{
  border: 1px solid #66c2ff;
  height: 260px;
  width: 235px;
  border-radius: 5px;
  
  
}

/* skin care box*/

.col-md-3{
  border: 1px solid #66c2ff;
  height: 260px;
  width: 235px;
  border-radius: 5px;
  margin-bottom: 10px;
 
}

.col-md-4{
  border: 1px solid #66c2ff;
  height: 260px;
  width: 235px;
  border-radius: 5px;

}


.first-section{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 22px;
  justify-content: space-between;

}

.first-section-button{
  width: 300px;
  height: 50px;
  background-color: #99ffcc;
  color: green;
  font-size: 19px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.first-section-heading{
  font-size: 60px;
  font-weight: 200;
  color:  #004d80;
}

.first-section-txt{
  font-size: 25px;
}

.forth-section-cat-container{
  width: 200px;
}

.forth-section-cat{
  width:100%
}

.forth-section-dog-container{
  width: 200px;
}

.forth-section-dog{
  width: 100%;
}

.forth-section{
  display: flex;
  justify-content: space-between;
  background-color: #004d80;
}

.forth-section-heading{
  color:#fff;
  font-size: 35px;
}

.forth-section-btn{
  width: 300px;
  height: 50px;
  background-color: #99ffcc;
  color: green;
  border-radius: 25px;
  border: none;
}

.forth-section-text{
  color:#fff;
}


.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}

.header-logo-container{
  display: flex;
 height: 60px;
}

.header-logo{
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.header-button{
  background-color:  #004d80;
  color: #fff;
  width: 95px;
  height: 40px;
  border-radius: 20px;
  border:none;
  cursor: pointer;
}

.header-link-container{
  display: flex;
}

.header-link{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-right: 40px;
  cursor: pointer;
}

.header-link-1{
  font-size: 18px;
  color: #004d80;
  margin-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  cursor: pointer;

}

.second-section{
  box-sizing: border-box;
  margin-top: 5%;
  margin-left: 11%;
  padding: auto;
}

.third-section{
  height: 600px;
  margin-top: 5%;
  padding: 60px;
  display: flex;
  justify-content: space-between;
}

.third-section-button{
  background-color:  #006bb3;
  color: #fff;
  margin-top: 20px;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.third-section-heading{
  color: #004d80;
}

.third-section-link{
  color: black
}

@media (max-width: 800px){

  header{
    width: 100%;
  }

  .header-link{
    display: none;
  }

  .header-link-1{
    display: none;
  }

}