body{
  margin: 0;
  padding: 0;
}

header{
  box-sizing: border-box;
  width: 100%;
  border-bottom: 2px solid #66c2ff;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 35px;
  padding-right: 35px;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}

.header-logo-container{
  display: flex;
 height: 60px;
}

.header-logo{
  height: 100%;
  width: 100%;
}

.header-button{
  background-color:  #006bb3;
  color: #fff;
  width: 95px;
  height: 40px;
  border-radius: 20px;
  border:none;
}

.header-link-container{
  display: flex;
}

.header-link{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-right: 40px;
}

.header-link-1{
  font-size: 18px;
  color: #006bb3;
  margin-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;

}



@media (max-width: 800px){

  header{
    width: 100%;
  }

}