body{
  margin: 0;
  padding: 0;
}

header{
  box-sizing: border-box;
  width: 100%;
  border-bottom: 2px solid #66c2ff;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 35px;
  padding-right: 35px;
}


.box-container{
  display: flex;
  
}


.first-section{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 22px;
  justify-content: space-between;

}

.first-section-button{
  width: 300px;
  height: 50px;
  background-color: #99ffcc;
  color: green;
  font-size: 19px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.first-section-heading{
  font-size: 60px;
  font-weight: 200;
  color: #006bb3;
}

.first-section-txt{
  font-size: 25px;
}



.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}

.header-logo-container{
  display: flex;
 height: 60px;
}

.header-logo{
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.header-button{
  background-color:  #006bb3;
  color: #fff;
  width: 95px;
  height: 40px;
  border-radius: 20px;
  border:none;
  cursor: pointer;
}

.header-link-container{
  display: flex;
}

.header-link{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-right: 40px;
  cursor: pointer;
}

.header-link-1{
  font-size: 18px;
  color: #006bb3;
  margin-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  cursor: pointer;

}

.second-section{
  box-sizing: border-box;
  margin-top: 5%;
  margin-left: 11%;
  padding: auto;
}

.third-section{
  height: 900px;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.third-section-button{
  background-color:  #006bb3;
  color: #fff;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border: none;
}

.third-section-heading{
  color: #006bb3;
}

@media (max-width: 800px){

  header{
    width: 100%;
  }

  .header-link{
    display: none;
  }

  .header-link-1{
    display: none;
  }

}